[submodule "private/local/dot-spacemacs"]
	path = private/local/dot-spacemacs
	url = https://gitlab.ii.coop/ii/tooling/dot-spacemacs
[submodule "private/local/forge"]
	path = private/local/forge
	url = https://github.com/ii/forge
[submodule "private/local/ob-tmate"]
	path = private/local/ob-tmate.el
	url = https://gitlab.ii.coop/ii/tooling/ob-tmate.git
[submodule "private/local/ob-async"]
	path = private/local/ob-async
	url = https://github.com/astahlman/ob-async
